<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <!-- boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Document</title>
</head>

<body ng-app="myapp">
    <!-- trang giỏ hàng -->
    <h1>Đây là trang giỏ hàng</h1>
    <div class="container" ng-controller="myCtrl">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in cart">
                            <td>{{$index + 1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.price}}</td>
                            <td>
                                <button class="btn btn-primary" ng-click="minus(item)">-</button>
                                {{item.quantity}}
                                <button class="btn btn-primary" ng-click="plus(item)">+</button>
                            </td>
                            <td>{{item.price * item.quantity}}</td>
                            <td>
                                <button class="btn btn-danger" ng-click="remove(item)">Xóa</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h2 style="color: green;">Tổng tiền : {{total()}} $</h2>

            </div>
        </div>
    </div>

    <hr style="border: 0; height: 3px; background-color: #000; margin: 20px 0;">
    <button type="button" class="btn btn-outline-warning" ng-click="addCart(p)">Thêm vào giỏ</button>

    <script src="angular.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>